
.bannerBox {
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 30px;
}

.banner {
  width: 100%;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  padding: 2rem;
  color: white;
  cursor: pointer;
  padding-top: 8rem;
  margin-top: 30px;
  box-shadow: #E50914;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.banner:hover {
  box-shadow: 0 0 25px 5px #E50914; 
  transform: scale(1.01);
}

.banner-Content {
  margin-top: 300px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.sub-title {
  font-size: 1.2rem;
  color: #f5f5f5;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
  margin-top: 25px;
}

.play-btn {
  background-color: white;
  color: #E50914;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.play-btn:hover {
  box-shadow: 0 6px 16px rgba(229, 9, 20, 0.6);  /* On hover */
  transform: translateY(-2px);
}


/* ----------------- Responsive Styles ------------------ */

@media (max-width: 768px) {
  .bannerBox{
    width: 106%;
  }

  .banner {
    min-height: 300px;
    padding-top: 4rem;
    margin-top: 30px;
  }

  .title {
    font-size: 1.8rem;
    margin-top: 100px;
    text-align: center;
  }

  .sub-title {
    font-size: 1rem;
    text-align: center;
  }

  .play-btn {
    display: block;
    margin: 10px auto 0 auto;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 60vh;
  }

  .banner-Content {
    margin-top: 8rem;
    text-align: center;
  }

  .title {
    font-size: 20px;
  }

  .sub-title {
    font-size:14px;
  }

  .play-btn {
    font-size: 14px;
    padding: 0.4rem 1rem;
  }
}