
.custom-footer {
  background-color: black;
  color: #ccc;
  text-align: center;
  padding: 30px 20px;
  font-size: 14px;
  width: 100%;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px 2px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons i {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: red;
}

.copyright {
  font-size: 16px;
  margin: 0;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
}

.links a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {

  .custom-footer{
    width: 92%;
  }

  .footer-content {
    padding: 15px;
    box-shadow: 0 0 10px white;
  }

  .social-icons i {
    font-size: 18px;
  }

  .links {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .copyright {
    font-size: 14px;
  }
}