

.row {
  margin: 0 auto;
  padding: 10px 0;
  color: white;
  background-color: black;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.row__title {
  font-size: 35px;
  font-weight: 800;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: white;
}

.row__posters {
  display: flex;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px 0;
  scroll-behavior: smooth;
  padding-left: 15px;
  gap: 12px;
  cursor: pointer;
  scroll-snap-type: x mandatory;
}

.row__posters::-webkit-scrollbar {
  height: 6px;
  display: none;
}

.row__posters::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.row__poster {
  flex: 0 0 auto;
  width: 120px;
  height: auto;
  max-width: 45%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.row__poster:hover {
  transform: scale(1.05);
  z-index: 1;
}

.row__posterLarge {
  max-height: 280px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.row__posterLarge:hover {
  transform: scale(1.05);
  z-index: 1;
} 

.video-player {
  margin: 20px 10px;
  border-radius: 12px;
  overflow: hidden;
}

/* 📱 Responsive Design */
@media (max-width: 768px) {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .row__title {
    font-size: 24px;
    margin-left: 15px;
  }

  .row__posters {
    margin-left: 10px;
    gap: 10px;
    padding-left: 10px;
  }

  .row__poster,
  .row__posterLarge {
    width: 100px;
    max-height: 140px;
    flex: 0 0 auto;
  }

  .video-player {
    margin: 10px 5px;
  }
}

@media (max-width: 400px) {
  .row__title {
    font-size: 20px;
    margin-left: 10px;
  }

  .row__poster,
  .row__posterLarge  {
    width: 100px;
    max-height: 150px;
  }
}